<div class="card_row_box">

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="embedded_card">
      <h1 class="main-title">Login</h1>
      <div class="mb-3">
        <label for="loginEmail" class="form-label main-text-style">Email address</label>
        <input type="email" class="form-control text-content" id="loginEmail" placeholder="name@example.com" formControlName="email">
      </div>
      <div class="mb-3">
        <label for="loginPassword" class="form-label main-text-style">Password</label>
        <input type="password" class="form-control text-content" id="loginPassword" placeholder="******************" formControlName="pwd">
      </div>
      <div class="mb-3">
        <button class="btn btn-primary button-color float-right" type="submit">Send</button>
      </div>
    <!--  <div class="text-with-link main-text-style">
        <p>If you do not have an account yet, please <a class="common-link" routerLink="/signup">sign up</a></p>
      </div>-->
    </form>
  
    <img style="margin-right: 0px" src="../../assets/operation_room_illustration.jpg" alt="" width="360" height="360">
  
  </div>
  
  